@tailwind base;
@tailwind components;
@tailwind utilities;

/* reseters */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.border-radius-05rem {
  border-radius: 0.5rem;
}
